/*======================== CSS Para Pestañas ========================*/
#contenedor {
margin: 50px auto;
width: 400px;
}
 
#contenedor h1 {
float: left;
font-size: 20px;
margin: 0px; 0 20px 0;
width: 400px;
}
 
.tabs {
border-bottom: 1px solid #999;
border-left: 1px solid #999;
float: left;
height: 32px;
list-style: none;
margin-top: 20px;
padding: 0;
width: 100%;
}
.tabs li {
background: #e0e0e0;
border: 1px solid #999;
border-left: none;
float: left;
height: 31px;
line-height: 31px;
margin: 0;

margin-bottom: -1px;
overflow: hidden;
padding: 0;
position: relative;
}
 
.tabs li a {
border: 1px solid #fff;
color: #000;
display: block;
font-size: 1.2em;
padding: 0 20px;
text-decoration: none;
outline: none;
}
.tabs li a:hover { background: #AC99FA; }
 
/*======================== Contenido de Pestañas ========================*/
.tab_container {
background: #fff;
border: 1px solid #999;
border-top: none;
margin-bottom:20px;
clear: both;
float: left;
overflow: hidden;
width: 100%;
-moz-border-radius-bottomleft: 4px;
-moz-border-radius-bottomright: 4px;
-webkit-border-bottom-right-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
}
 
.tab_content {
font-size: 1.2em;
padding: 20px;
}
 
.tab_dos img {
border: 1px solid #000;
margin: 5px 12px;
}
.tab_content img {
border: 1px solid #000;
margin: 10px 12px;
}
.tabs li.active, .tabs li.active a:hover {
background: #fff;
border-bottom: 1px solid #fff;
}
